.rejected-message {
  position: absolute;
  top: 110px;
  right: 98px;
  width: 500px;
  padding: 55px 60px;
  border-radius: 4px;
  background-color: #f6f7ff;

  @media (max-width: 1023px) {
    position: static;
    width: auto;
    margin-top: 45px;
  }

  @media (max-width: 767px) {
    margin-top: 35px;
    padding: 40px 15px;
  }
}

.rejected-message p {
  margin-top: 0;
  margin-bottom: 0;
}

.rejected-message .rejected-message__header {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 31px;
  font-weight: 500;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 25px;
  }
}

.rejected-message__footer {
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}
