.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 calc(50% - 437px);
  padding-top: 80px;
  padding-bottom: 80px;
  background:
    url('./small-gradient.webp'),
    url('./big-gradient.webp'),
    #2c36f2;
  background-repeat: no-repeat, no-repeat;
  background-position: right calc(50% + 460px) bottom, left calc(50% + 249px) bottom;
  overflow: hidden;

  @media (max-width: 1023px) {
    min-height: 300px;
    padding: 56px 44px;
    background:#2c36f2;
  }

  @media (max-width: 767px) {
    min-height: 226px;
    padding: 45px 15px;
    background:#2c36f2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    right: calc(50% + 534px);
    width: 100%;
    background: linear-gradient(180deg, rgba(32, 39, 179, 0) 36.31%, #2027b3 99.79%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% + 384px);
    width: calc(50% - 384px);
    height: 100%;
    background: linear-gradient(180deg, rgba(32, 39, 179, 0) 36.31%, #2027b3 99.79%);
  }
}

.hero__header {
  padding-top: 22px;
  padding-left: 22px;

  @media (max-width: 1023px) {
    padding-top: 10px;
    padding-left: 42px;
  }

  @media (max-width: 767px) {
    position: absolute;
    padding-top: 0;
    padding-left: 0;
    margin-top: -8px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 54px;
  line-height: 63px;
  font-weight: 700;
  color: #f6f7ff;

  @media (max-width: 1023px) {
    margin-bottom: 4px;
    font-size: 46px;
    line-height: 54px;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 45px;
  }
}

.hero__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 26px;
  color: #e0e1ea;

  @media (max-width: 1023px) {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
  }
}

.hero__picture {
  filter: drop-shadow(0px 4px 23px rgba(25, 26, 31, 0.2));
  z-index: 1000;

  @media (max-width: 1023px) {
    padding-right: 42px;
  }

  @media (max-width: 767px) {
    margin-left: 77%;
  }
}

.hero__image {
  vertical-align: bottom;

  @media (min-width: 768px) {
    width: 311px;
    height: 186px;
  }

  @media (min-width: 1024px) {
    width: 398px;
    height: 240px;
  }
}

.hero__link {
  display: inline-block;
  padding: 17px 35px 18px;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #f6f7ff;
  color: #1f1e25;

  @media (max-width: 1023px) {
    padding: 14px 31px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (max-width: 767px) {
    padding: 14px 31px;
    font-size: 14px;
    line-height: 16px;
  }

  &:hover {
    background-color: #1f1e25;
    color: #f6f7ff;
  }
}
