.official-map {
  margin-bottom: 110px;
  padding-left: calc(50% - 683px);
  padding-right: calc(50% - 683px);

  @media (max-width: 1023px) {
    margin-bottom: 80px;
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }

  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.official-map__wrapper {
  padding-left: 98px;
  padding-right: 98px;

  @media (max-width: 1023px) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.official-map h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 41px;
  line-height: 57px;
  font-weight: 700;

  @media (max-width: 1023px) {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    line-height: 31px;
  }
}

.official-map__frame {
  margin: 0 auto;
  height: 462px;

  @media (max-width: 767px) {
    height: 381px;
  }
}
