.humburger {
  display: none;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  appearance: none;

  @media (max-width: 767px) {
    display: block;
    margin-right: 14px;
  }
}
