.free-phone {
  width: 155px;
  padding-left: 30px;
  background-image: url('./phone2.svg');
  background-repeat: no-repeat;

  @media (max-width: 1023px) {
    padding-left: 35px;
    margin-bottom: 10px;
  }
}

.free-phone__tel {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #1f1e25;

  &:hover { color: #2c36f2; }
}

.free-phone__description {
  margin-top: 0;
  font-size: 12px;
  color: #707c87;
}
